<div class="container ">
  {{!-- create --}}
  <a href="/todos/create" class="w-25 btn btn-secondary p-2 mb-5">
    <h3>create</h3>
  </a>
  {{!-- notfinished --}}
  <div class="mb-5">
    <h2 class=" bg-warning  rounded text-dark p-3 mb-5 ">未完成</h2>
    {{#each notFinished}}

    <form class="row bg-light rounded no-gutters justify-content-between align-items-center p-2"
      action="/todos/{{this._id}}?_method=DELETE" method="POST">
      <h3 class="col-8 ml-4">{{this.name}}</h3>
      <div class="col-3 row no-gutters form-group justify-content-between mb-0">
        <a href="/todos/{{this._id}}/edit" class="col-5 btn btn-secondary p-2">edit</a>
        <button type="submit" class="col-5 btn btn-primary  p-2">刪除</button>
      </div>
    </form>

    {{/each}}
  </div>
  {{!-- finished --}}
  <div class="mb-5">
    <h2 class=" bg-info  rounded text-white p-3 mb-5 ">已完成</h2>
    {{#each todos}}
    <form class="row bg-light rounded no-gutters justify-content-between align-items-center p-2"
      action="/todos/{{this._id}}?_method=DELETE" method="POST">
      <del class="col-8">
        <h3 class="  font-italic font-weight-bold text-secondary  ml-4">{{this.name}}</h3>
      </del>
      <div class="col-3 row no-gutters form-group justify-content-between mb-0">
        <a href="/todos/{{this._id}}/edit" class="col-5 btn btn-secondary  p-2">edit</a>
        <button type="submit" class="col-5 btn btn-primary  p-2">刪除</button>
      </div>
    </form>
    {{/each}}
  </div>



</div>